@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

/* <<<<<  ᓚᘏᗢ  Header   >>>>> */


header{
    background-color: #FF668B;
    color: white;
    font-size:25px;
    font-family: "dancing script", cursive;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 0px;
    z-index: 10;
}


/*<<<<<  ᓚᘏᗢ  Main   >>>>> */

main {
    background-image:url("../img/portada\ IN.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Raleway, sans-serif;
    text-align: center;
}

ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
h2, a  {
    color:#ffffff;
    font-size: 25px;
    text-decoration: none;
    text-align: center; 
    background-color:rgb(255, 102, 139, 0.8);
    border-radius: 7px;
    padding: 30px;
    margin: 30px;
    display: inline-flex;
    flex-wrap: wrap;

}

/*<<<<<  ᓚᘏᗢ  Footer   >>>>> */

footer {
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    background-color:#FF668B;
}

footer img{
    width: 100px;
    margin-left: 45%;
}