@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');

:root{
    --color_principal: #F59E9B;
    --color_secundario: #90B8E4;
    --fuente_principal: "dancing script", cursive;
    --fuente_secundaria: Raleway, sans-serif;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

/* <<<<<  ᓚᘏᗢ  Header   >>>>> */


header{
    background-color: var(--color_principal);
    color: white;
    font-size: 1.5rem;
    font-family: var(--fuente_principal);
    text-align: center;
    padding: 1.25rem;
    position: sticky;
    top: 0px;
    z-index: 10;
}


p span i.fas {
    color: rgb(224, 72, 72);
}


/*<<<<<  ᓚᘏᗢ  Main   >>>>> */

main {
    background-image:url("../img/background\ Mariela\ GC.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #ffffff;
    font-family: var(--fuente_secundaria);
    text-align: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

section div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

h2{
    color:var(--color_secundario);
    font-family: var(--fuente_principal);
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center; 
    opacity: 80%;
    border-radius: 7px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    border-style: dashed;
    border-width:thin;
    border-radius: 15px;
    font-family: var(--fuente_secundaria);
    font-size: 1.5rem;
    color: var(--color_secundario);
    text-decoration: none;
    padding: 2rem;
    margin: 2rem;

}

/*<<<<<  ᓚᘏᗢ  Footer   >>>>> */

footer {
    background-color:var(--color_principal);
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    padding: 2rem;
}