@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');

/* <<<<<  ᓚᘏᗢ  Header   >>>>> */

header {
    background-color: #FF668B;
    background-image: url(../img/portada\ IN.png);
    background-attachment: fixed;
    font-family: "Dancing Script", cursive;
}

h1 {
    background-color: #FF668B;
    color: #ffff;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    padding:20px;
    text-align: center;
    text-transform: capitalize;
}

header a {
    text-decoration: none;
}
.heart{
    color: white;
    display: inline;
    font-size: 25px;
    text-align: center;
}

/*<<<<<  ᓚᘏᗢ  Main   >>>>> */

main {
    color:#FF668B;
    font-family: raleway, monospace;
    font-size: 15px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    font-size: 20px;;
}

.imagenes{
    margin-left: 10%;
}
.imagenes img {
    width: 200px;
    display: inline;
    padding: 20px;
}

/*<<<<<  ᓚᘏᗢ  Footer   >>>>> */

footer {
    background-color: #FF668B;
    color: #ffff;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    padding:10px;  
    text-align: center; 
    text-transform: capitalize;
}

footer p {
    text-align:center;
    font-size:30px;
    display: inline;
}