/* <<<<<  ᓚᘏᗢ  Header   >>>>> */

header{
    background-color: #FF668B;
    background-image: url(../img/portada\ IN.png);
    background-attachment: fixed;


}

#foto_perfil {
    width: 100px;
    display: block;
    margin:auto;
}

h1 {
    background-color: #FF668B;
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: cursive;
    padding:20px;
}

/*<<<<<  ᓚᘏᗢ  Main   >>>>> */

h2 {
    background-color: #FF668B;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    padding-left: 1%;
    font-size: 15px;
    font-family:cursive;
    padding: 5px;
}

.subtitulo1 {
    font-family:monospace;
    color: #FF668B;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    display:inline;
}

.subtitulo2 {
    font-family: monospace;
    color:#FF668B;
    font-size: 15px;
    font-weight: bold;
    display:inline;
}

.subtitulo3 {
    font-family: monospace;
    color:#FF668B;
    font-size: 15px;
    font-weight: bold;
    display: inline;
}

.description{
    font-family: monospace;
    color:#FF668B;
    display: inline;
    margin-left:initial
    
}

p {
    font-family: monospace;
    color:#FF668B;
    display:inline;
    font-size: 20px;
    text-align: center;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
}

.bloque{
    font-family:cursive;
    color:#ffff;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 0%;
}

i{
    color: #FF668B;
}

/*<<<<<  ᓚᘏᗢ  Footer   >>>>> */

footer {
    background-color: #FF668B;
    padding:10px;  
    text-align: center; 
}
#social{
    color: white;

}
#telefono{
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: cursive;
}




