@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');

/* <<<<<  ᓚᘏᗢ  Header   >>>>> */

header {
    background-color: #FF668B;
    background-image: url(../img/portada\ IN.png);
    background-attachment: fixed;
    font-family: "Dancing Script", cursive;
}

#foto_perfil {
    height:250px;
    display: block;
    margin:auto;
    border-radius: 15px;
}

h1 {
    background-color: #FF668B;
    color: #ffff;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    padding:20px;
    text-align: center;
    text-transform: capitalize;
}

nav {
    background-color: #ffff;
    color: #FF668B;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
}

header nav a {
    color:#FF668B;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    text-decoration:none;
    text-transform: capitalize;
}

.heart{
    color:#FF668B;
    font-size: 15px;
}

/*<<<<<  ᓚᘏᗢ  Main   >>>>> */

main {
    color:#FF668B;
    font-family: raleway, monospace;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}
main h2 {
    background-color: #FF668B;
    color: #ffff;
    display: block;
    font-family: raleway, monospace;
    font-size: 15px;
    letter-spacing: 5px;
    padding: 5px;
    padding-left: 1%;
    text-transform: uppercase;
}

.subtitulo1 {
    color: #FF668B;
    display:inline;
    font-family:raleway, monospace;
    font-size: 18px ;
    font-style: italic;
    font-weight: bold;
}

i{
    color: #FF668B;
    font-size:12px;
}

p {
    color:#FF668B;
    display:inline;
    font-size: 16px;
}

.subtitulo2 {
    color:#FF668B;
    display:inline;
    font-size: 18px;
    font-weight: bold;
}

.description{
    color:#FF668B;
    display: inline;
    font-size: 16px;
    margin-left:initial    
}

.subtitulo3 {
    color:#FF668B;
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

/*<<<<<  ᓚᘏᗢ  Footer   >>>>> */

footer {
    background-color: #FF668B;
    color: #ffff;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    padding:10px;  
    text-align: center; 
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

.social{
    color: white;
    font-size: 35px;
    padding-left: 5px;
}