section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    color: black;
    font-family: $fontFamiliyTittle;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 10px;
    &::selection {
      @include seleccionarTexto($colorTextoPrimario, $colorPrincipal);
    }
  }
  p {
    font-family: $fontFamilyGeneral;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    &::selection {
      @include seleccionarTexto(black, $shadow);
    }
  }
  div.texto {
    color: $colorTextoPrimario;
    line-height: 40px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div.botones {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        background-color: $colorPrincipal;
        border-radius: 5px;
        border-width: 1px;
        width: 8rem;
        height: 4rem;
        margin: 1rem;
        @extend %transiciones_extends;
        &:hover {
          @extend %hovers_extends;
        }
      }
    }
  }
  div.imagen img {
    width: 50vw;
    height: 80%;
  }
}
section.items ol {
  display: flex;
  flex-direction: row;
  li {
    background-color: $colorSecundario;
    height: 300px;
    margin: 2rem;
    padding: 1rem;
    list-style-position: inside;
    p:first-child {
      font-weight: 900;
      font-size: 1.2rem;
    }
    &::before {
      content: "\20DD";
      font-size: 3rem;
      position: relative;
      right: 2rem;
      top: 0.5rem;
    }
  }
}
@media screen and (max-width: 720px) {
  section.seccionPrincipal,
  section.items ol {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
