@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
header ul li:hover, section div.texto div.botones button:hover {
  background-color: #92f7f2;
  color: #8b8b8b;
  border-radius: 5px;
  border-color: #adafaf;
  border-style: solid;
  border-width: thin;
  padding: 1rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

header ul li, section div.texto div.botones button, footer img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

header {
  height: 10rem;
  font-family: Roboto, monospace;
  font-size: 1.5rem;
  padding: 3rem 6rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0px;
}

@media screen and (max-width: 720px) {
  header {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header p.marca::after {
    content: "\2630";
    margin: 5rem;
  }
  header nav {
    display: none;
  }
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header ul li {
  margin: 2rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section h2 {
  color: black;
  font-family: Anton, sans-serif;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 10px;
}

section h2::-moz-selection {
  background-color: #03faee;
  color: #8b8b8b;
}

section h2::selection {
  background-color: #03faee;
  color: #8b8b8b;
}

section p {
  font-family: Roboto, monospace;
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
}

section p::-moz-selection {
  background-color: #92f7f2;
  color: black;
}

section p::selection {
  background-color: #92f7f2;
  color: black;
}

section div.texto {
  color: #8b8b8b;
  line-height: 40px;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section div.texto div.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section div.texto div.botones button {
  background-color: #03faee;
  border-radius: 5px;
  border-width: 1px;
  width: 8rem;
  height: 4rem;
  margin: 1rem;
}

section div.imagen img {
  width: 50vw;
  height: 80%;
}

section.items ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.items ol li {
  background-color: #f8f8f8;
  height: 300px;
  margin: 2rem;
  padding: 1rem;
  list-style-position: inside;
}

section.items ol li p:first-child {
  font-weight: 900;
  font-size: 1.2rem;
}

section.items ol li::before {
  content: "\20DD";
  font-size: 3rem;
  position: relative;
  right: 2rem;
  top: 0.5rem;
}

@media screen and (max-width: 720px) {
  section.seccionPrincipal,
  section.items ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  font-family: Roboto, monospace;
  color: #8b8b8b;
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 2rem;
  margin: 4rem;
}

footer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media screen and (max-width: 720px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer img {
    margin: 1rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
/*# sourceMappingURL=main.css.map */