@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
body {
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
h3 {
  text-align: center;
  font-size: 1rem;
}
.exercice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
}
.exercice-complete img {
  width: 100%;
  height: 100%;
}
.exercice-complete {
  background: #003c61;
  width: 100%;
}
.excercice-incomplete {
  background: #a64170;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template: 2 1fr;
}
.grid-one {
  /* grid-column: 2/3;
  grid-row: 2/3; */
  animation-name: grid_one;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.grid-three {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  animation-name: grid_three;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.grid-two {
  /* grid-column: 1/2;
  grid-row: 1/2; */
  animation-name: grid_two;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.grid-four {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  animation-name: grid_four;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes grid_one {
  0% {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  50%{opacity: 50%;}
  100% {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@keyframes grid_two {
  0% {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  50%{opacity: 50%;}
  100% {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@keyframes grid_three {
  0% {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  50%{opacity: 50%;}
  100% {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@keyframes grid_four {
  0% {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  50%{opacity: 50%;}
  100% {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

